// header.component.scss

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #60a8f4;
    color: #fff;
    padding: 1rem 2rem;

    h1 {
        transition: all 0.2s ease-in-out;
        font-size: x-large;
        margin: 0;
        color: white;

        &:hover {
            font-size: xx-large;
        }
    }
}