.letter-animation {
    font-size: 24px;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;

    height: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}