<section id="container">
    <app-loading-letter *ngIf="(githubUserData$ | async)?.loading" [label]="'Loading ... '"></app-loading-letter>
    <section id="content">
        <form [formGroup]="authForm">
            <h1>Use your GitHub Account to auth</h1>
            <app-input-field [name]="'username'" [label]="'Username'" [parentForm]="authForm"
                [highlightError]="!(username?.valid)"></app-input-field>
            <button id="submit-button" type="submit" (click)="onSubmit($event)">Save</button>
        </form>
    </section>
</section>