<form [formGroup]="authForm">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" formControlName="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" formControlName="password" required>
    </div>
    <input type="submit" (click)="onSubmit($event)" class="btn btn-primary mt-4" value="Salvar">
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
</form>