<section>
    <img src="https://mainfacts.com/media/images/coats_of_arms/br.png" alt="country-png">
    <div class="content-rigth">
        <h1>{{data?.name?.common}}</h1>
        <div class="content">
            <div class="about-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non erat quam. Vestibulum aliquam nibh
                    dui, et aliquet nibh euismod quis.</p>
                <div>
                    <h6>
                        Population
                    </h6>
                    <h2>
                        29.00
                    </h2>
                    <p id="percent">
                        +12% more then, Brazil
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>