<section>
    <img *ngIf="!(error$ | async)" [src]="imgSrc" alt="imageAlt">
    <div class="content-rigth" *ngIf="!(error$ | async)">
        <h1>{{data?.name?.common}}</h1>
        <div class="content">
            <div class="about-content">
                <p>{{data?.flags?.alt}}</p>
                <div>
                    <h2>
                        Population
                    </h2>
                    <h6 id="population-value">
                        {{data?.population}} habs
                    </h6>
                    <p id="percent">
                        +12% more then, Brazil
                    </p>
                </div>
            </div>
            <div class="field-content">
                <h5>Region</h5>
                <h6>{{data?.region}}</h6>
            </div>
            <div class="field-content">
                <h5>Subregion</h5>
                <h6>{{data?.subregion}}</h6>
            </div>
            <div class="field-content">
                <h5>Is Independent</h5>
                <h6>{{data?.independent}}</h6>
            </div>
            <div class="field-content">
                <h5>Land Locked</h5>
                <h6>{{data?.landlocked}}</h6>
            </div>
            <div class="field-content">
                <h5>Country Area</h5>
                <h6>{{data?.area}} km²</h6>
            </div>
            <p class="divider"></p>
        </div>
    </div>

    <app-loading-letter *ngIf="(loading$ | async)" [label]="'Loading your country... '"></app-loading-letter>
    <app-error-status *ngIf="(error$ | async)"></app-error-status>
</section>