@import "../../variables.scss";

.container {
  min-height: 100vh;
}

.content {
  padding: 4rem;

  @media screen and (max-width:426px) {
    padding: 1rem;
  }
}

.carousel-container {
  height: 50vh;
  background-color: $primary-color;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

#github-label {
  color: $primary-color;
  /* H3 SemiBold */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;

}


.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}